.heading{
  height:5%;
  width:100%;
}
.header{
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
}

.parent{
  margin-top: 2rem;
  background-color:rgb(255, 255, 255);
  height:100%;
  width:auto;
  display: grid; 
  grid-template-columns:20% 20% 20% 20%;
  grid-template-rows:auto;
  grid-gap:1rem;
  justify-content:center;
  align-content:center;
  overflow-y: auto;
  padding: 1rem;
 
  overflow-x: hidden;
  
}

@media screen and (max-width:435px){
  .parent{
    margin-top: 2rem;
    background-color:rgb(255, 255, 255);
    height:100%;
    width:auto;
    display: grid; 
    grid-template-columns:90% ;
    grid-template-rows:auto ;
    grid-gap:0.5rem;
    justify-content:center;
    align-content:center;
    overflow-y: auto;
    overflow-x: hidden;
    
  }
}

@media screen and (min-width:435px) and (max-width:860px ){
  .parent{
    margin-top: 2rem;
    background-color:rgb(255, 255, 255);
    height:100%;
    width:auto;
    display: grid; 
    grid-template-columns:30% 30% 30% ;
    grid-template-rows:40% 40% ;
    grid-gap:0.9rem;
    justify-content:center;
    align-content:center;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 1rem;
  }

  img{
    height:60%;
    width:100%;
    border-radius: 0.5rem;;
    
   }
   
   
   
   .card-text{
     color: antiquewhite;
     padding-left: 0.2rem;
     font-size: 10px;
     text-align:left;
   }
   .btn-div{
     height:auto;
     display:flex;
     justify-content: center;
     align-items: center;
   
   }
   
   .buy-btn{
    background-color:rgb(149, 220, 44);
     color: white;
     padding:0.3rem;
     border-radius: 2rem;
    box-sizing: border-box;
     
   }
}

.child{
  background-color:rgb(98, 98, 209);
  border-radius:0.5rem;
   box-sizing: border-box;
   height: 100%;
   
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  
}

img{
  height:60%;
  width:100%;
  border-radius: 0.5rem;;
  
 }
 
 
 
 .card-text{
   color: rgb(255, 255, 255);
   padding-left: 0.2rem;
   font-size: 12px;
   text-align:left;
 }
 .btn-div{
   height:16%;
   display:flex;
   justify-content: center;
   align-items: center;
 
   margin:0px;
   padding:0px;
 }
 
 .buy-btn{
   background-color:rgb(149, 220, 44);
   color:black ;
   padding:0.3rem;
   border-radius: 2rem;
   border:none;
 
  align-self: center;
   
 }


.footer{
  background-color:black;
  display:flex;
  justify-content:center;
  align-items:center;
  height:5%;
  width:100%;
  color:white;
}