.form{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  padding:0.5rem;
  height:auto;
  background-color: #ebf5ff;
  color: #333;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.5rem gray;
    
}

.font{
  font-size: 1rem;
}

.parent{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  height:30rem;
  padding:0.5rem;
 overflow-x: hidden;
 
}

.inputdiv{
  display:flex;
  flex-direction: column;
}

.button{
  padding:12px;
  font-size:16px;
  background-color: #007bff;
  color:white;
  border:none;
  border-radius:4px;
  cursor:pointer;
  width:100%;
 
}

.button:hover{
  background-color: #0056b3;
}